@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var url = Url.Page("./Login", null, new { culture });
}

<h1 localize-content>@ViewData["Title"]</h1>
<p localize-args="@(new[] { url })">
    Your password has been reset. Please <a href="{0}">click here to log in</a>.
</p>
